<html>
  <head>
    <meta charset="UTF-8">
    <title>Single Activity Details</title>
  </head>
  <body>
    <h1><%= @activity.title %></h1>
    <h3><%= @activity.date %></h3>
    <h3><%= @activity.category %></h3>
    <p><%= @activity.description %></p>

    <br />
    <a href="/activities/<%= @activity.slug %>/edit">
      <input type="button" value="Edit">
    </a>
    <form action="/activities/<%= @activity.slug %>" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
  </body>
</html>
