    <div class="row">
      <div class="col-12">
        <a href="/"><- Back to All Activities</a>
        <h3><%= @activity.title %> - <%= @activity.date.strftime('%A, %b %d, %Y') %> - <%= @activity.category.titleize %></h3>
        <p><%= @activity.description %></p>
      </div>

      <div class="col-4">
        <a href="/activities/<%= @activity.slug %>/edit">
          <input type="button" value="Edit">
        </a>

        <form action="/activities/<%= @activity.slug %>" method="post" style="float: left;">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Delete" />
        </form>

        <% if flash[:success] %>
          <p><%= flash[:success] %></p>
        <% end %>
        
        <% if flash[:error] %>
          <p><%= flash[:error] %></p>
        <% end %>

      </div>
    </div>
